.elementor-1070
  .elementor-element.elementor-element-e1161d3
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-1070
  .elementor-element.elementor-element-3ff6c9b
  .custom-breadcrumb {
  background-image: url(./../images/breadcrumb.jpg);
}
.elementor-1070 .elementor-element.elementor-element-0988c42 {
  padding: 120px 0px 0px 0px;
}
.elementor-1070
  .elementor-element.elementor-element-1b19546
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1070
  .elementor-element.elementor-element-5ba7f49
  .gsc-heading
  .content-inner {
  max-width: 750px;
}
.elementor-1070 .elementor-element.elementor-element-5ba7f49 .gsc-heading {
  margin-bottom: 20px;
}
.elementor-1070
  .elementor-element.elementor-element-5ba7f49
  .gsc-heading
  .title {
  margin-bottom: 0px;
}
.elementor-1070
  .elementor-element.elementor-element-5ba7f49
  .gsc-heading
  .sub-title {
  margin-bottom: 0px;
}
.elementor-1070
  .elementor-element.elementor-element-5ba7f49
  .gsc-heading
  .title-desc {
  padding: 20px 0px 0px 0px;
}
.elementor-1070 .elementor-element.elementor-element-d6922ed {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 15px;
  --grid-column-gap: 8px;
  --grid-row-gap: 0px;
}
.elementor-1070
  .elementor-element.elementor-element-d6922ed
  .elementor-widget-container {
  text-align: left;
}
.elementor-1070
  .elementor-element.elementor-element-d6922ed
  .elementor-social-icon {
  background-color: #faf5ee;
  --icon-padding: 1.1em;
}
.elementor-1070
  .elementor-element.elementor-element-d6922ed
  .elementor-social-icon
  i {
  color: #313041;
}
.elementor-1070
  .elementor-element.elementor-element-d6922ed
  .elementor-social-icon
  svg {
  fill: #313041;
}
.elementor-1070
  .elementor-element.elementor-element-d6922ed
  .elementor-social-icon:hover {
  background-color: #4e926d;
}
.elementor-1070
  .elementor-element.elementor-element-d6922ed
  .elementor-social-icon:hover
  i {
  color: #ffffff;
}
.elementor-1070
  .elementor-element.elementor-element-d6922ed
  .elementor-social-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-1070
  .elementor-element.elementor-element-d6922ed
  > .elementor-widget-container {
  margin: 010px 0px 0px 0px;
}
.elementor-1070
  .elementor-element.elementor-element-f9f3757
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1070 .elementor-element.elementor-element-c2620e7 {
  padding: 115px 0px 115px 0px;
}
.elementor-1070
  .elementor-element.elementor-element-3fbe4ce
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc.elementor-view-stacked
  .elementor-icon {
  background-color: #faf5ee;
  fill: #313041;
  color: #313041;
}
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc.elementor-view-framed
  .elementor-icon,
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc.elementor-view-default
  .elementor-icon {
  fill: #faf5ee;
  color: #faf5ee;
  border-color: #faf5ee;
}
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc.elementor-view-framed
  .elementor-icon {
  background-color: #313041;
}
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #4e926d;
  fill: #fffefe;
  color: #fffefe;
}
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc.elementor-view-framed
  .elementor-icon:hover,
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc.elementor-view-default
  .elementor-icon:hover {
  fill: #4e926d;
  color: #4e926d;
  border-color: #4e926d;
}
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc.elementor-view-framed
  .elementor-icon:hover {
  background-color: #fffefe;
}
.elementor-1070 .elementor-element.elementor-element-ce1e2cc {
  --icon-box-icon-margin: 16px;
}
.elementor-1070 .elementor-element.elementor-element-ce1e2cc .elementor-icon {
  font-size: 24px;
  padding: 18px;
}
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc
  .elementor-icon-box-title,
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc
  .elementor-icon-box-title
  a {
  font-size: 20px;
}
.elementor-1070
  .elementor-element.elementor-element-ce1e2cc
  > .elementor-widget-container {
  padding: 32px 32px 32px 32px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ebe6de;
  border-radius: 8px 8px 8px 8px;
}
.elementor-1070
  .elementor-element.elementor-element-a2238eb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1070
  .elementor-element.elementor-element-8b288ae.elementor-view-stacked
  .elementor-icon {
  background-color: #faf5ee;
  fill: #313041;
  color: #313041;
}
.elementor-1070
  .elementor-element.elementor-element-8b288ae.elementor-view-framed
  .elementor-icon,
.elementor-1070
  .elementor-element.elementor-element-8b288ae.elementor-view-default
  .elementor-icon {
  fill: #faf5ee;
  color: #faf5ee;
  border-color: #faf5ee;
}
.elementor-1070
  .elementor-element.elementor-element-8b288ae.elementor-view-framed
  .elementor-icon {
  background-color: #313041;
}
.elementor-1070
  .elementor-element.elementor-element-8b288ae.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #4e926d;
  fill: #fffefe;
  color: #fffefe;
}
.elementor-1070
  .elementor-element.elementor-element-8b288ae.elementor-view-framed
  .elementor-icon:hover,
.elementor-1070
  .elementor-element.elementor-element-8b288ae.elementor-view-default
  .elementor-icon:hover {
  fill: #4e926d;
  color: #4e926d;
  border-color: #4e926d;
}
.elementor-1070
  .elementor-element.elementor-element-8b288ae.elementor-view-framed
  .elementor-icon:hover {
  background-color: #fffefe;
}
.elementor-1070 .elementor-element.elementor-element-8b288ae {
  --icon-box-icon-margin: 16px;
}
.elementor-1070 .elementor-element.elementor-element-8b288ae .elementor-icon {
  font-size: 22px;
  padding: 18px;
}
.elementor-1070
  .elementor-element.elementor-element-8b288ae
  .elementor-icon-box-title,
.elementor-1070
  .elementor-element.elementor-element-8b288ae
  .elementor-icon-box-title
  a {
  font-size: 20px;
}
.elementor-1070
  .elementor-element.elementor-element-8b288ae
  > .elementor-widget-container {
  padding: 32px 32px 32px 32px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ebe6de;
  border-radius: 8px 8px 8px 8px;
}
.elementor-1070
  .elementor-element.elementor-element-73322dd
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1070
  .elementor-element.elementor-element-b9732d5.elementor-view-stacked
  .elementor-icon {
  background-color: #faf5ee;
  fill: #313041;
  color: #313041;
}
.elementor-1070
  .elementor-element.elementor-element-b9732d5.elementor-view-framed
  .elementor-icon,
.elementor-1070
  .elementor-element.elementor-element-b9732d5.elementor-view-default
  .elementor-icon {
  fill: #faf5ee;
  color: #faf5ee;
  border-color: #faf5ee;
}
.elementor-1070
  .elementor-element.elementor-element-b9732d5.elementor-view-framed
  .elementor-icon {
  background-color: #313041;
}
.elementor-1070
  .elementor-element.elementor-element-b9732d5.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #4e926d;
  fill: #fffefe;
  color: #fffefe;
}
.elementor-1070
  .elementor-element.elementor-element-b9732d5.elementor-view-framed
  .elementor-icon:hover,
.elementor-1070
  .elementor-element.elementor-element-b9732d5.elementor-view-default
  .elementor-icon:hover {
  fill: #4e926d;
  color: #4e926d;
  border-color: #4e926d;
}
.elementor-1070
  .elementor-element.elementor-element-b9732d5.elementor-view-framed
  .elementor-icon:hover {
  background-color: #fffefe;
}
.elementor-1070 .elementor-element.elementor-element-b9732d5 {
  --icon-box-icon-margin: 16px;
}
.elementor-1070 .elementor-element.elementor-element-b9732d5 .elementor-icon {
  font-size: 22px;
  padding: 18px;
}
.elementor-1070
  .elementor-element.elementor-element-b9732d5
  .elementor-icon-box-title,
.elementor-1070
  .elementor-element.elementor-element-b9732d5
  .elementor-icon-box-title
  a {
  font-size: 20px;
}
.elementor-1070
  .elementor-element.elementor-element-b9732d5
  > .elementor-widget-container {
  padding: 32px 5px 32px 15px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ebe6de;
  border-radius: 8px 8px 8px 8px;
}
.elementor-1070
  .elementor-element.elementor-element-d07dea8:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1070
  .elementor-element.elementor-element-d07dea8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url(./../images/bg-line.png);
}
.elementor-1070 .elementor-element.elementor-element-d07dea8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 105px 0px 70px 0px;
}
.elementor-1070
  .elementor-element.elementor-element-d07dea8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-1070
  .elementor-element.elementor-element-6364415.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-1070
  .elementor-element.elementor-element-6364415.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1070
  .elementor-element.elementor-element-6364415
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-bc-flex-widget
  .elementor-1070
  .elementor-element.elementor-element-58dfabd.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-1070
  .elementor-element.elementor-element-58dfabd.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1070
  .elementor-element.elementor-element-58dfabd.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-1070
  .elementor-element.elementor-element-58dfabd
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-1070
  .elementor-element.elementor-element-2be3698
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-1070 .elementor-element.elementor-element-57dfefc iframe {
  height: 500px;
  width: 100dvw;
}
@media (max-width: 768px) {
  .elementor-1070 .elementor-element.elementor-element-1b19546 {
    width: 33.749%;
  }
  .elementor-1070 .elementor-element.elementor-element-f9f3757 {
    width: 66.211%;
  }
  .elementor-1070 .elementor-element.elementor-element-6364415 {
    width: 70.667%;
  }
  .elementor-1070 .elementor-element.elementor-element-58dfabd {
    width: 29.293%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1070 .elementor-element.elementor-element-3fbe4ce {
    width: 100%;
  }
  .elementor-1070 .elementor-element.elementor-element-a2238eb {
    width: 100%;
  }
  .elementor-1070 .elementor-element.elementor-element-73322dd {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-1070 .elementor-element.elementor-element-0988c42 {
    padding: 70px 0px 0px 0px;
  }
  .elementor-1070 .elementor-element.elementor-element-c2620e7 {
    padding: 65px 0px 65px 0px;
  }
  .elementor-1070
    .elementor-element.elementor-element-3fbe4ce
    > .elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1070
    .elementor-element.elementor-element-a2238eb
    > .elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1070 .elementor-element.elementor-element-d07dea8 {
    padding: 65px 0px 40px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-1070
    .elementor-element.elementor-element-58dfabd.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
}
